{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Contact</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.contact }}</td>
                <td>{{ user.city }}</td>
                <td>
                    <a href="{{ path('user_show', {'userId': user.userId}) }}">Show</a>
                    <a href="{{ path('user_edit', {'userId': user.userId}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No Records</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
